{% extends 'BufeteAplicacionBundle::Default/admin.html.twig' %}

{% block page%}
    <div id="micaso" class="fullsize"  style="  background-color: #F0F0D8;height: 540px;">
    <h1>Abogado</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entity.correo }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Contrasena</th>
                <td>{{ entity.contrasena }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('abogado') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('abogado_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    
    {{entity.abogado}}
    </div>
{% endblock %}
